.value {
    font-size: 12px;
    color: #666;
}
.row {
    display: flex;
    flex-direction: row;
    width: 800px;
}
.additionalAddress {
    width: 200px !important;
    margin-left: 20px;
}
.error {
    font-size: 12px;
    color: red;
}
.unit {
    margin-left: 2px;
    font-size: 12px;
    color: #CD2626;
}
.iconButtonContainer {
    display: flex;
    align-items: center;
    height: 32px;
}
.iconButton {
    transform: scale(0.5);
}
.tableContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    :global(.ant-table) {
        border: 1px solid #C4C4C4;
    }
    :global(.ant-table-thead) {
        background-color: #B8B8B8;
    }
    :global(.ant-table-thead)>tr>th {
        background-color: transparent;
        color: #787878;
        padding-left: 20px;
        padding-left: 20px;
    }
}
.locationButton {
    margin-right: 10px;
    border: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: rgba(0, 0, 0, 0);
}
.locationIcon {
    width: 30px;
    height: 30px;
}
.subFormLabel {
    margin: 0px;
    margin-top: 20px;
    :global(.ant-form-item-label) {
        line-height: 16px;
    }
}
.subForm {
    margin-left: 60px;
    :global(.ant-form-item) {
        margin-bottom: 2px;
    }
}
.imageModal {
    top: 60px;
    width: 600px !important;
    :global(.ant-modal-body) {
        padding: 0;
    }
}
.sizeForm {
    :global(.ant-form-explain) {
        margin-top: 6px;
        margin-right: 30px;
        float: right;
    }
}
.group {
    display: flex;
    flex-direction: row;
    :global(.ant-row) {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
}
.groupEdit {
    position: relative;
    float: left;
}
.modal {
    top: 20px !important;
    width: 1200px !important;
    :global(.ant-modal-body) {
        padding: 0;
    }
}
.mapContainer {
    width: 1200px;
    height: 550px;
}
.starContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    height: 26px;
}
.star {
    height: 16px;
    margin-right: 5px;
}
.checkGroup {
    margin-top: 10px !important;
    :global(.ant-checkbox-disabled + span) {
        color: rgba(0, 0, 0, 0.65);
    }
}
.imageList {
    :global(.ant-form-explain) {
        margin-top: 5px;
    }
}
